.footer {
  background: #143048;
  color: #fff;
  padding: 40px 10px;
}

.link:hover {
  color: #fff;
}

.footerItem {
  font-size: 19px;
  align-items: center;
  display: flex;
  justify-content: center
}
 